<%- include("../templates/encabezado.ejs") %>
</head>
<body>
  <header>
    <nav class="menunav">
      <a class="menu-item" href="/">INICIO</a>
      <a class="menu-item" href="/blog">BLOG</a>
      <a class="menu-item" href="https://drive.google.com/drive/folders/1CS3iLZ4YjQeMer01FJn4jhoC3ZeLsvgq?usp=sharingS">DRIVE</a>
      <a class="menu-item" href="/sobremi">SOBRE MI</a>
    </nav>
  </header>

  <div class="container-main">
    <h1>UNIDAD DE APRENDIZAJE I</h1>
    <h2>"LA PERCEPCIÓN DEL CLIENTE PARA EL DISEÑO DE SOLUCIONES".</h2>
    <br>
    <br>
    <span id="tema1.1" name="tema1.1"></span>
    <br>
    <h3>TEMA 1.1</h3>
        <p class="tema">
         CONCEPTOS CLAVE PARA LA CREACIÓN DE SOLUCIONES TECNOLÓGICAS.
         
        </p>

        <div class="tema-1-1">
            <p>La creación de soluciones tecnológicas exitosas implica la comprensión y aplicación de varios conceptos clave que abarcan desde las necesidades del cliente hasta la implementación y mantenimiento continuo. A continuación, se detallan algunos de estos conceptos esenciales.</p>
            <br>
            <p class="tema">
                REQUISITOS DEL CLIENTE
            </p>
            <p>La base de cualquier solución tecnológica efectiva radica en la comprensión profunda de los requisitos del cliente. Este proceso implica una comunicación activa y la identificación precisa de las necesidades del usuario, permitiendo la alineación de la solución con las expectativas y objetivos del cliente.
                La comprensión y la identificación precisas de los requisitos del cliente constituyen el fundamento esencial para el desarrollo de soluciones tecnológicas efectivas. Esta fase, crucial en el proceso de creación.
                Un aspecto crítico es la capacidad de identificar y comprender las necesidades específicas de los usuarios finales. Esto implica un análisis detenido de los escenarios de uso, los problemas actuales y las expectativas para diseñar soluciones que aborden directamente las demandas del usuario.
            </p>

            <br>
            <p class="tema">
                INNOVACION Y CREATIVIDAD
            </p>
            
            <p>La innovación y la creatividad son elementos fundamentales en el proceso de creación de soluciones tecnológicas. Fomentar un entorno que estimule la generación de ideas originales y la exploración de enfoques no convencionales contribuye significativamente a la resolución efectiva de problemas.</p>
            <br>
            <div class="img-1">
                <img src="/imagenes/inno.jpg" alt="innovacion">
            </div>
            <br>
            <p class="tema">
                ANALISIS Y DISEÑO
            </p>
            <P>Antes de iniciar la fase de diseño, un análisis detallado de los requisitos es esencial. El diseño resultante debe ser robusto y escalable, proporcionando una estructura sólida para la implementación y evitando posibles obstáculos durante el desarrollo.</P>
            <br>
            <p class="tema">DESARROLLO AGIL</p>
            <p>La adopción de metodologías de desarrollo ágil se ha vuelto fundamental en la creación de soluciones tecnológicas. Este enfoque permite la adaptación continua a medida que se obtienen comentarios del usuario, facilitando la entrega iterativa y eficiente de funcionalidades.</p>
            <div class="img-3">
                <img src="/imagenes/desarrollo.jpeg" alt="desarrolloWeb">
            </div>
            <br>
            <p class="tema">
                INTEGRACION Y PRUEBAS
            </p>
            <p>La integración efectiva de componentes y pruebas rigurosas son etapas críticas en el ciclo de desarrollo. La combinación cuidadosa de módulos y la ejecución de pruebas exhaustivas garantizan la funcionalidad y la calidad de la solución final.</p>
            <br>
            <p class="tema">
                SEGURIDAD
            </p>
            <p>La seguridad ocupa un lugar central en la creación de soluciones tecnológicas. La implementación de medidas robustas para proteger la información y prevenir vulnerabilidades es esencial para garantizar la confidencialidad e integridad de los datos.</p>
            <div class="img-2">
                <img src="/imagenes/secure.jpg" alt="seguridad">
            </div>
            <br>
            <p class="tema">
                ESCALABILIDAD Y MANTENIMIENTO
            </p>
            <p>El diseño de soluciones escalables es clave para adaptarse a futuros crecimientos. Asimismo, la consideración de la facilidad de mantenimiento asegura que la solución permanezca eficiente y actualizada con el tiempo.</p>
            <br>
            <p class="tema">
                EXPERIENCIA DE USUARIO (UX)
            </p>
            <p>La atención a la experiencia del usuario es esencial para el éxito de cualquier solución tecnológica. El diseño de interfaces intuitivas y la consideración de la usabilidad garantizan una experiencia positiva para el usuario final.</p>
            <div class="img-5">
                <img src="/imagenes/ux.jpg" alt="diseñodeusuario">
            </div>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <span id="tema1.2" name="tema1.2"></span>
            <br>
        </div>
        
        <h3>TEMA 1.2</h3>
        <p class="tema">
            DEFINICIÓN DE SOLUCIONES A PARTIR DE LA INNOVACIÓN INCREMENTAL.
        </p>

        <div class="tema-1-2">
            <p>La creación de soluciones a través de la innovación incremental implica un enfoque gradual y progresivo en la mejora constante de productos, servicios o procesos existentes. Este método se centra en realizar ajustes y perfeccionamientos continuos en lugar de introducir cambios radicales. A continuación, se detalla esta perspectiva en párrafos y subtemas:</p>
            <br>
            <p class="tema">
                CONCEPTO DE INNOVACION INCREMENTAL
            </p>
            <p>La innovación incremental se caracteriza por su enfoque paso a paso, donde las mejoras se implementan de manera continua a lo largo del tiempo. A diferencia de la innovación disruptiva, que introduce cambios drásticos, la innovación incremental se enfoca en optimizar elementos existentes para lograr mejoras graduales y sostenibles.</p>
            <br>
            <div class="img-a-1">
                <img src="/imagenes/innovacion.jpeg" alt="fornite">
            </div>
            <br>
            <p class="tema">
                MEJORAS CONTINUAS EN PRODUCTOS Y SERVICIOS
            </p>
            <p>En el contexto de productos y servicios, la innovación incremental se traduce en la incorporación constante de mejoras para aumentar la eficiencia, la funcionalidad o la calidad. Estas mejoras pueden originarse a partir de retroalimentación del usuario, avances tecnológicos o la identificación de áreas específicas que requieren refinamiento.</p>
            <br>

            <p class="tema">
                OPTIMIZACION DE PROCESOS ORGANIZACIONALES
            </p>
            <p>En el ámbito empresarial, la innovación incremental se manifiesta en la optimización de procesos organizacionales. Esto implica identificar áreas de eficiencia operativa que pueden ser perfeccionadas a través de la implementación de cambios graduales, contribuyendo así a la eficacia general de la empresa.</p>
            <br>
            <div class="img-a-3">
                <img src="/imagenes/gb.jpg" alt="gb">
            </div>
            <br>
            <p class="tema">
                APRENDIZAJE ITERATIVO Y FLEXIBILIDAD
            </p>
            <p>La innovación incremental fomenta un enfoque de aprendizaje iterativo. A medida que se implementan pequeñas mejoras, se recopila información valiosa que informa las siguientes etapas del proceso de mejora. Esta mentalidad flexible permite ajustes continuos basados en la retroalimentación y la evolución de las circunstancias.</p>
            <br>
            <div class="img-a-2">
                <img src="/imagenes/itarativo.jpg" alt="iterativo">
            </div>
            <br>
            <p class="tema">
                VENTAJAS Y DESAFIOS
            </p>
            <p>Las ventajas de la innovación incremental incluyen la minimización de riesgos, la adaptabilidad a cambios graduales y la capacidad de mantener la continuidad operativa. Sin embargo, los desafíos pueden surgir en términos de mantener la motivación del equipo y la posibilidad de pasar por alto oportunidades de cambio más transformadoras.</p>
            <br>
            
        </div>
        <br>
            <br>
            <br><br>
            <br>
            <br>
            <span id="tema1.3" name="tema1.3"></span>
            <br>

            <h3>TEMA 1.3</h3>

            <p class="tema">
                DISEÑO DE INTERACCIONES
            </p>

        <div class="tema-1-3">
            <p>El diseño de interacciones representa un campo multidisciplinario que se centra en la creación de experiencias significativas y eficientes para los usuarios en entornos digitales y físicos. En este contexto, se exploran los elementos clave y enfoques fundamentales que definen el diseño de interacciones.</p>
            <br>
            <div class="img-b-1">
                <img src="/imagenes/diseno-de-interacciones.jpg" alt="diseño">
            </div>
            <br>
            <p class="tema">
                DEFINICION DE ALCANCE
            </p>
            <p>El diseño de interacciones se refiere al proceso de dar forma a la manera en que los usuarios interactúan con un producto, servicio o sistema. Va más allá de la mera estética visual, abarcando la funcionalidad, la usabilidad y la experiencia del usuario (UX). Este enfoque holístico implica considerar cada punto de contacto entre el usuario y el sistema, desde interfaces digitales hasta dispositivos físicos.</p>
            <br>

            <p class="tema">
                PRINCIPIOS DE DISEÑO CENTRADOS EN EL USUARIO
            </p>
            <p>En el diseño de interacciones, el usuario se sitúa en el centro del proceso creativo. Los principios de usabilidad, accesibilidad y comprensión del usuario son fundamentales. Se busca entender las necesidades, comportamientos y expectativas del usuario para diseñar interacciones intuitivas y agradables.</p>
            <br>
            <div class="img-b-3">
                <img src="/imagenes/uix.png" alt="uuix">
            </div>
            <br>
            <p class="tema">
                INVESTIGACION Y PROTOTIPADO ITERATIVO
            </p>
            <p>La investigación constante sobre el comportamiento del usuario y la iteración a través de prototipos son prácticas comunes en el diseño de interacciones. Comprender cómo los usuarios interactúan con un sistema en desarrollo permite ajustes continuos para mejorar la experiencia y la eficacia.</p>
            <br>
            <div class="img-b-2">
                <img src="/imagenes/ooo.jpg" alt="iT">
            </div>
            <br>
            <p class="tema">
                INTEGRACION DE TECNOLOGIAS EMERGENTES
            </p>
            <p>El diseño de interacciones se mantiene al tanto de las tecnologías emergentes, como la inteligencia artificial, la realidad aumentada y la voz, integrándolas de manera efectiva para mejorar la interacción. La adaptación a las tendencias tecnológicas garantiza que las soluciones sean relevantes y vanguardistas.</p>
            <br>

            <p class="tema">
                ETICA EN EL DISEÑO
            </p>
            <p>La ética desempeña un papel crucial en el diseño de interacciones. Los diseñadores deben considerar las implicaciones éticas de sus decisiones, evitando sesgos, respetando la privacidad del usuario y asegurándose de que las interacciones promuevan valores positivos.

                En resumen, el diseño de interacciones es un campo dinámico que se adapta constantemente a las cambiantes expectativas de los usuarios y las innovaciones tecnológicas. Este enfoque holístico busca crear experiencias que no solo sean funcionales, sino también emocionalmente satisfactorias y éticamente responsables. La evolución continua en este ámbito refleja el compromiso con la mejora constante de la interacción entre los usuarios y el mundo digital y físico que los rodea.
            </p>
        <br>
        <div class="img-b-4">
            <img src="/imagenes/ethical-design.jpg" alt="diseñoetico">
        </div>
        <br>
        
        
        </div>


        <h1>UNIDAD DE APRENDIZAJE II</h1>
        <h2>"ETAPA DE PRUEBAS".</h2>
        <br>
        <br>
        <span id="tema2.1" name="tema2.1"></span>
        <br>

        <h3>TEMA 2.1</h3>
        <p class="tema">
         PROPUESTAS DE SOLUCION
        </p>

        <div class="tema-2-1">
          <p>Una propuesta de solución en el desarrollo de software es un documento detallado que presenta una estrategia integral para abordar los desafíos específicos o requisitos de un proyecto de software. En este documento, los equipos de desarrollo, empresas de software o profesionales independientes describen cómo planean resolver los problemas identificados y cumplir con los objetivos del proyecto. En primer lugar, se incluye una descripción exhaustiva del problema que el software busca resolver, seguida de la definición clara de los objetivos del proyecto. Se especifica la metodología de desarrollo que se empleará, junto con las tecnologías, lenguajes de programación y herramientas que se utilizarán. .</p>
          <br>
          <p class="tema">
                IDENTIFICAR EL PROYECTO O PROBLEMA
          </p>
          <p>
            Una de las cosas clave que debe hacer bien es identificar el problema o la oportunidad de proyecto que tiene frente a usted. Si conoce la crisis del software hace décadas, probablemente también sepa que las definiciones inadecuadas de requisitos representaron la mayoría de los desafíos.
            Esto sigue siendo un problema hoy en día. La obtención de requisitos puede resultar difícil ya que lo que se comunica no necesariamente coincide con la intención.
            No hace falta decir entonces que poder identificar y confirmar bien el problema es uno de los primeros pasos para demostrar que se comprende lo que está sucediendo.
          </p>

          <br>
          <p class="tema">
              COMPRESION DE LAS NECESIDADES DEL CLIENTE
          </p>
          
          <p>Efectivamente, lo que está tratando de lograr es lograr que sus clientes potenciales lleguen al punto en el que crean que no solo comprende bien sus necesidades, sino que también tiene las herramientas y capacidades para atender dichas necesidades. En otras palabras, su entrega debe mostrar que se prioriza al cliente.</p>
          <br>
          <div class="img-1">
              <img src="/imagenes/clientNece.jpg" alt="innovacion">
          </div>
          <br>
          <p class="tema">
              SOLUCION DE PROPUESTA
          </p>
          <P>Por supuesto, la solución propuesta es fundamental. Después de todo, esto será lo que tendrás que mostrar para el emprendimiento. Siempre que haya hecho un buen trabajo al comprender el problema y representarse bien al comunicarlo, ahora es el momento de obtener la aceptación que necesita en la solución propuesta.

            Sin embargo, tenga en cuenta que probablemente presentará esto a los responsables de la toma de decisiones empresariales. Por lo tanto, equilibrar el lenguaje técnico con el tipo de ideas que a los pensadores estratégicos les gusta ver es una habilidad que debe desarrollarse bien.</P>
          <br>
          <p class="tema">CRONOGRAMA E HITOS DEL PROYECTO</p>
          <p>Según los responsables de la toma de decisiones empresariales y su forma de pensar, los objetivos SMART tienden a ser un foco central. En otras palabras, los objetivos deben ser específicos, mensurables, alcanzables, realistas y basados ​​en el tiempo.
            Como puedes ver, todos estos adjetivos introducen un nivel de precisión en la ecuación. Si puede representar cómo piensa llevar a cabo su solución en términos de hitos y cronogramas, es mucho más probable que obtenga un resultado favorable.</p>
          <div class="img-3">
              <img src="/imagenes/crono.png" alt="desarrolloWeb">
          </div>
          <br>
          <p class="tema">
              LONGITUD DE LA RESPUESTA
          </p>
          <p>La regla general aquí es preparar tanto largos como cortos. propuestas de negocios e incluso intentar encontrar un término medio si no tienes información para hacerlo.
            Sin embargo, lo que encontrará a veces es que las organizaciones solicitarán la longitud que buscan. Algunos pueden solicitar propuestas más breves, especialmente para consultas iniciales en las que simplemente intentan comprender cuáles serán las implicaciones de costos.
            Otros clientes potenciales pueden solicitar propuestas más largas que detallen los diferentes aspectos del proyecto.
            Por supuesto, si recibe una solicitud específica, considerando que está tratando de ganarse al cliente, debe asegurarse de que su propuesta se alinee con ella.</p>
          <br>
          
          <br>
          <br>
          <br><br>
          <br>
          <br>
          <span id="tema2.2" name="tema2.2"></span>
          <br>
      </div>

      <h3>TEMA 2.2</h3>
        <p class="tema">
         PROTOTIPO DE SOLUCION
        </p>

        <div class="tema-2-2">
          <p>
            El desarrollo de software es un proceso complejo que abarca desde la comprensión de los requisitos del cliente hasta la entrega y mantenimiento del producto final. Comienza con la identificación y entendimiento de las necesidades del cliente, utilizando entrevistas y comunicación efectiva. Posteriormente, se crea una arquitectura y diseño del sistema que cumpla con estos requisitos, respaldado por la elaboración de diagramas y documentación técnica. La implementación y codificación se llevan a cabo siguiendo buenas prácticas de programación y estándares definidos. Las pruebas son fundamentales para garantizar la calidad y funcionalidad del software, identificando y corrigiendo errores durante este proceso. La entrega del producto final al cliente implica el despliegue y preparación del software para su implementación en el entorno de producción.</p>
          <br>
          <p class="tema">
                RELLENA EL LIENZO DEL CLIENTE OBJETIVO
          </p>
          <p>
            No soy muy amigo de redactar grandes documentos, pero creo que en este caso, es importante tener por escrito qué lo que tienes en mente. Si es tu idea, es importante, pero si es la idea de otra persona, es fundamental.  Sin ese documento, se pueden generar errores, que se arrastrarán a lo largo de todo el proyecto. En Innokabi, que trabajamos tanto con nuestros proyectos como con proyectos de emprendedores y empresas, ese documento y la primera puesta en común es fundamental, para construir los siguientes pasos.
            Para redactar un buen documento aconsejo haber completado el lienzo de Propuesta de Valor y Early Adopters. Este lienzo te aportará la información que necesitas para ordenar tus ideas. Una vez sepas a quién diriges tu idea, y por tanto tu prototipo de software, es importante que en el documento reflejes la operativa del software. Esto es, describir qué tiene que hacer, si es posible indicar cómo y por qué. Al comienzo de un proyecto habrá muchos puntos en el aire, serán solo hipótesis, pero es la manera de empezar a construir algo que merezca la pena.
          </p>

          <br>
          <p class="tema">
            ELABORA UN ESQUEMA VISUAL DE LOS PANTALLAZOS DE TU PROTOTIPO DE SOFTWARE
          </p>
          
          <p>Para esta fase hay varias opciones, todas ellas muy sencillas. Lo que se busca es que la herramienta que emplees te permita ver de un vistazo las pantallas y el camino que debe seguir el usuario entre unas y otras. Es importante empezar a plantear temas de usabilidad web.
            Puedes emplear una pizarra, papel y lápiz, … a nosotros nos gusta emplear Prezi. La herramienta para hacer presentaciones. La ventaja que nos aporta es que es un lienzo infinito donde puedes ir colocando, copiando y pegando todo lo que necesitas. Los caminos los simulamos mediante flechas, como en el ejemplo siguiente.</p>
          <br>
          <div class="img-1">
              <img src="/imagenes/pdds.jpg" alt="innovacion">
          </div>
          <br>
          <p class="tema">
              DESARROLLA UN PROTOTIPO DE SOFTWARE CLICKEABLE
          </p>
          <P>En el paso anterior hemos plasmado la idea que tenemos en mente, cómo se va a comportar y hemos empezado a diseñar la experiencia de usuario. Son pasos previos que nos van a ayudar mucho en esta fase.
            Lo que vamos a hacer ahora es trasladar todo ese enmarañado y complejo mundo de pantallas y caminos en un prototipo clicable con el que poder navegar como si fuera real entre pantallas. Es decir, vamos a recrear la experiencia de usuario en un prototipo sin tener el software programado. La gran ventaja es que de este paso 3, ya vamos a poder extraer las primeras conclusiones con clientes reales.
            Para esta fase, hay muchos programas que se pueden emplear. En mi caso, me gusta Prototyper Free (para prototipar web y app móvil) y POP (para prototipar app móvil)
            POP, es tan simple como dibujar las diferentes pantallas en papel. Hacerles una foto y seleccionar las partes clicables de cada una y enlazarlas  a la pantalla de destino. Más sencillo imposible. El resultado, una app móvil dibujada en papel, pero que te permite interactuar, clicar y cambiar de pantallas.</P>
          <br>
          <p class="tema">APLICA DISEÑO AL PROTOTIPO</p>
          <p>Dependiendo del sector al que esté dirigida la idea de negocio, muchas veces es necesario aplicar diseño al prototipo. No estoy hablando del diseño final, pero si al menos que un diseñador aplique un toque presentable a nuestro prototipo. Por ejemplo, en el sector de la moda, o si nos dirigimos a un cliente final, es más que probable que un buen diseño facilite la presentación del prototipo al usuario final.</p>
          <div class="img-3">
              <img src="/imagenes/proto.jpg" alt="desarrolloWeb">
          </div>
          <br>
          <p class="tema">
              LONGITUD DE LA RESPUESTA
          </p>
          <p>La regla general aquí es preparar tanto largos como cortos. propuestas de negocios e incluso intentar encontrar un término medio si no tienes información para hacerlo.
            Sin embargo, lo que encontrará a veces es que las organizaciones solicitarán la longitud que buscan. Algunos pueden solicitar propuestas más breves, especialmente para consultas iniciales en las que simplemente intentan comprender cuáles serán las implicaciones de costos.
            Otros clientes potenciales pueden solicitar propuestas más largas que detallen los diferentes aspectos del proyecto.
            Por supuesto, si recibe una solicitud específica, considerando que está tratando de ganarse al cliente, debe asegurarse de que su propuesta se alinee con ella.</p>
          <br>
          
          <br>
          <br>
          <br><br>
          <br>
          <br>
          <span id="tema2.3" name="tema2.3"></span>
          <br>
      </div>
      
      <h3>TEMA 2.3</h3>
      <p class="tema">
       PRUEBAS
      </p>

      <div class="tema-2-3">
        <p>Al igual que sucede en cualquier otro sector del mercado, los desarrolladores de software trabajan para ofrecer los mejores resultados en cuanto a calidad. Se trata de un ámbito en el que la competencia cada día es mayor y lo mismo sucede con el grado de exigencia por parte del consumidor o usuario. Así que es necesario garantizar que el producto cumple con todos los requisitos definidos por el cliente. Surge entonces la necesidad de aplicar las pruebas de software con las que garantizar que este se encuentra libre de fallos.</p>
        
        <p>Las pruebas de software son el mejor método para confirmar la funcionalidad del producto que se está desarrollando. Deben aplicarse en todas las fases del desarrollo, desde el inicio del proyecto hasta el final, de manera que puedan descubrirse fallos aislados en un primer momento o detectar un comportamiento erróneo al final. Estas pruebas sirven, por ejemplo, para descubrir fallos en el diseño y la arquitectura del software, en la seguridad o en la escalabilidad.</p>
        
        <p>Lo que se lleva a cabo durante estas pruebas es una evaluación minuciosa para verificar la funcionalidad de un determinado producto, es decir, comprobar que funciona tal y como debería hacerlo. Esto aporta varios beneficios que incluyen la solución de errores en una fase temprana, con lo que el esfuerzo para buscar una solución es menor. También se reducen gastos y hay un aumento del rendimiento.</p>
        <br><br>
        <h2>TIPOS DE PRUEBAS EN EL DESARROLLO DE SOFTWARE</h2>
        <p class="tema">
              PRUEBAS UNITARIAS 
        </p>
        <p>
          Comprueban que cada una de las piezas o unidades más pequeñas del software en el que se está trabajando funcione correctamente. Estas pruebas se aplican de manera individual y son las primeras que deben realizarse durante todo el proceso de desarrollo.
        </p>
        
        <p>
          Para ello, es necesario aislar esas unidades, que pueden ser fragmentos de código, para verificar su comportamiento. Al trabajar con unidades tan pequeñas es posible testear el proyecto por partes, sin necesidad de que esté terminado. Son muy rápidas y facilitan la comprobación de la legibilidad del código.
        </p>
        
        <p>
          Entre sus ventajas está el ahorro de tiempo y de dinero, ya que permiten detectar errores al principio y evitar seguir avanzando arrastrando ese fallo que va a condicionar el resto del proyecto.
        </p>

        <br>
        <div class="img-1">
          <img src="/imagenes/uni.png" alt="innovacion">
      </div>
      <br><br><br>
        <p class="tema">
            PRUEBAS DE INTEGRACIÓN
        </p>
        
        <p>Cualquier aplicación de software está formada por varios elementos que deben encajar a la perfección. El objetivo de estas pruebas es comprobar que los diferentes componentes operan bien juntos. En ocasiones sucede que un módulo que funcionaba perfectamente de manera aislada, una vez que se integra con el resto provoca algún tipo de fallo en el sistema, por lo que es necesario supervisar esa integración para obtener los mejores resultados.</p>
        <br>
        <div class="img-1">
            <img src="/imagenes/int.jpg" alt="innovacion">
        </div>
        <br><br>
        <p class="tema">
            PRUEBAS FUNCIONALES
        </p>
        <P>Lo que se comprueba son las funciones del software creado para establecer la usabilidad y las características de cara al mercado. Son consideradas pruebas de caja negra o black-box testing porque lo que se verifica es el comportamiento del sistema, si todo funciona tal y como está establecido en el documento Software Requirement Specification (SRS).</P>
        <br>
        <div class="img-1">
          <img src="/imagenes/fun.png" alt="innovacion">
      </div>
      <br>
        <p class="tema">
          PRUEBAS DE RENDIMIENTO
        </p>
        <p>Se trata de chequear la respuesta del software ante cargas de trabajo diferentes y en condiciones reales. Sirven para definir cuestiones como la estabilidad o la velocidad de una aplicación de software y están directamente relacionadas con la experiencia del usuario y la tasa de conversión.
          Las pruebas de carga, de resistencia, estrés, volumen, picos y escalabilidad son consideradas pruebas de rendimiento.</p>
        <div class="img-3">
            <img src="/imagenes/ren.png" alt="desarrolloWeb">
        </div>
        <br>
        <p class="tema">
            PRUEBAS DE ESTRES
        </p>
        <p>Antes de dar por finalizado el proceso de desarrollo de una software es necesario comprobar cuánta tensión puede soportar antes de que se produzca algún error. Para ello, se envía mucha más información de lo habitual para comprobar en qué punto se satura el sistema.</p>
        <br>
        <div class="img-3">
          <img src="/imagenes/es.png" alt="desarrolloWeb">
      </div>
        
        <br>
        <br>
        <br><br>
        <br>
        <br>

  </div>

 
  <%- include("../templates/pie.ejs") %>


<style>
  
  .container-main{
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .container-main h1{
    font-size: 80px;
    margin-bottom:0px ;
    margin-top: 50px;
  }

  .container-main h2{
    font-size: 26px;
    margin-top: 5px;
  }

  .container-main h3{
    font-size: 26px;
    margin: 0px;
  }
  .img-5 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  }

  .img-a-1 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  
  }
  .img-a-2 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  }

  .img-a-3 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  }
  .img-b-1 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  }
  .img-b-2 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  }

  .img-b-3 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  }

  .img-b-4 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  }

  .tema{
    font-size: 20px;
    font-style: italic;
    margin-top:5px;
  }

  .tema-1-1{
      width: 750px; /* Ajusta el ancho según tus necesidades */
      padding: 20px;
      margin: 0 auto;
      text-align: justify;
  }

  .tema-1-2{
    width: 750px; 
      padding: 20px;
      margin: 0 auto;
      text-align: justify;
  }

  .tema-1-3{
    width: 750px; 
      padding: 20px;
      margin: 0 auto;
      text-align: justify;
  }

  .img-1 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  }

  .img-2 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  }

  .img-3 img{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    margin-left: 72px;
    height: 300px;
  }

  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #121212;
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 40px 40px;
    animation: move 4s linear infinite;
  }

  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }

  .menunav {
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }

  .menu-item {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.5s;
    transition: transform 0.4s;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
  }

  .menu-item:hover {
    color: #de07de;
    transform: scale(1.2);
  }
  @media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
  
}

.tema-2-1{
      width: 750px; /* Ajusta el ancho según tus necesidades */
      padding: 20px;
      margin: 0 auto;
      text-align: justify;
  }

  .tema-2-2{
    width: 750px; 
      padding: 20px;
      margin: 0 auto;
      text-align: justify;
  }

  .tema-2-3{
    width: 750px; 
      padding: 20px;
      margin: 0 auto;
      text-align: justify;
  }
  
</style>
